<head>
  <link rel="stylesheet" href="index.css">
</head>

<body>
<h1>Meetng Portal</h1>

<div id="remote-media"></div>
<div id="controls">
  <div id="preview">
    <p class="instructions">Coco Button = Random Generator </p>
    <p class="instructions">Boris Button = Schedule a collaboration </p>
  </div>
  <div id="room-controls">
    <button id="button-join">Coco Button</button>
    <button id="button-leave">Boris Button</button>
  </div>
  <div id="log"></div>
</div>

</body>
</html>
