// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


// $yak-green: #1A535C;
// $yak-light-green: #4ECDC4;
// $yak-white: #F7FFF7;
// $yak-red: #FF6B6B;
// $yak-yellow: #FFE66D;


$yak-blue: #4F6FC0;
$yak-light-blue: #7FD0DF;
$yak-yellow: #F4B53D;
$yak-orange: #F38131;
$yak-purple: #422967;
$yak-light-purple: #6C4698;
$yak-pink: #E22172;
$yak-green: #1E7450;
$yak-light-green: #38B684;
$yak-black: #2C2D30;
$yak-gray: #BFBFBF;
$yak-white: #FCFCFC;
