.side-bar {
  background: $yak-yellow;
  color: $yak-white;
  padding: 0px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
  top: 70px;
  height: calc(100vh - 70px);
  position: sticky !important;
  h3 p {
    padding: 10px;
  }
}

.dash-links{
  padding: 10px;
  text-decoration: none;
  color: $yak-white;
  &:hover {
    text-decoration: none;
    color: $yak-green;
  }
}

.side-bar-links{
  margin-top: 40px;
}

.topic {
  width: 200px;
}

.meeting-search {
  height: 150px;
  padding: 15px;
  z-index: 1;
  background: $yak-light-green;
  color: $yak-white;
  position: sticky !important;
  top: 70px;
  p {
    font-size: 32px;
  }
}

.row {
  margin: 0;
}

.dash-feed {
  padding: 0px;
}

.navbar-wagon{
  position: fixed;
  width: 100%;
  z-index: 1;
}

.yak-feed {
  padding: 15px;
  background: $yak-white;
}

.chat{
  position: relative;
}

.chat-users .user-1{
  position: absolute;
  top: 0px;
  left:5px;
}

.chat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

.chat-box:first-child {
  margin-top: 50px;
}

.chat-users {
  transition: all 0.15s ease;
  .avatar {
    width: 40px;
    border-radius: 10px;
    margin-right: 10px;
  }
}

.feed-header{
  position: sticky !important;
  top: 220px;
  z-index: 1;
  background: $yak-white;
  border-bottom: .5px solid rgba(0,0,0,0.2);
  padding: 10px;
}

.side-bar .footer {
  position: absolute;
  bottom: 0px;
}
