.dash-wrapper {
  display: flex;
  position: relative;
}

#side-bar {
  height: calc(100vh - 70px);
  flex: 0 0 270px;
  background: $yak-yellow;
  color: $yak-white;
  padding: 20px;
  margin-top: 70px;
  h1 {
    font-size: 36px;
    margin-top: 0px;
  }
  ul {
    margin-top: 30px;
  }
  li {
    margin-top: 10px;
  }
  a {
    font-weight: 700;
    color: $yak-white;
    text-decoration: none;
    padding: 3px 0px;
  }
}


#side-bar a:hover {
  border-bottom: 3px solid $yak-white;
}

.topic {
  width: 200px;
}

.dash-container {
  flex-direction: column;
  width: 100%;
}

.meeting-search {
  height: 160px;
  padding: 20px 30px;
  background: $yak-light-green;
  color: $yak-white;
  margin-top: 70px;
  p {
    font-size: 28px;
  }
}

.dash-feed {
  position: relative;

  h2 {
    font-size: 28px;
    position: absolute;
    background-color: $yak-white;
    margin: 0;
    padding: 30px;
    width: 100%;
    z-index: 1;

    &:after {
      content: "";
      position: absolute;
      background-color: #BFBFBF;
      height: 1px;
      width: calc(100% - 60px);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


.pages.dashboard .navbar-wagon{
  position: fixed;
  width: 100%;
  z-index: 1;

}

hr {
     color: $yak-gray;
     background: $yak-white;
     height: 1px;
}

.yak-feed {
  padding: 95px 30px 0;
  overflow: scroll;
  height: calc(100vh - 230px);
}

.yaktivity {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.15s ease;
  position: relative;
  background-color: #EDEDED;
  margin: 15px 0px;
}

.yaktivity-users {
  transition: all 0.15s ease;
  width: 100px;
  height: 75px;
  .avatar {
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .user-1{
  position: absolute;
  top: 15px;
  left: 15px;
  }
  .user-2{
  position: absolute;
  top: 50px;
  left: 50px;
  }
}

.yaktivity-title {
  h3 {
    font-family: 'Raleway';
    font-weight: 700;
    margin-top: 0px;
  }
}

.yaktivity-details {
  p {
    margin: 0px;
  }
}


// form styling

#request_topic {
  border-radius: 10px 0 0 10px;
  height: 50px;
  border: none;
  width: 400px;
  color: $yak-light-green;
  -webkit-box-shadow: none;
    ::placeholder {
    color: $yak-light-green;
  }
}

.request_skill {
  background-color: $yak-white;
}

#request_skill_id  {
  height: 50px;
  color: $yak-light-green;
  background-color: $yak-white;
  border: none;
  width: 150px;
  -webkit-box-shadow: none;
}

#request_start_time  {
  height: 50px;
  background-color:rgba(0, 0, 0, 0);
  color: $yak-light-green;
  border: none;
  width: 150px;
  -webkit-box-shadow: none;
}

.request_start_time {
  background-color: $yak-white;
  border-radius: 0px 10px 10px 0px;
}


