// Specific CSS for your home-page
.home-wrapper {
  background-color: $yak-blue;
  height: 60vh;
  width: 100%;

  h1 {
    color: $yak-white;
    margin-top: 0px;
  }
  h2 {
    color: $yak-white;
  }
}

.title {
  margin-top: 90px;
}

svg {
  width: 100%;
}
