// Specific CSS for your home-page
@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -100% 0; }
}


.home-wrapper {
  background-image: url('background.png');
  background-repeat: repeat-x;
  animation: animatedBackground 15s linear alternate infinite;
  overflow: hidden;
  height: 100vh;
  width: 100%;

  .navbar-wagon {
    background:rgba(0,0,0,0.2);
  }

  .inner-content {
    padding: 30px;
    margin-top: 90px;
    color: black;
  }


  h1 {
    color: $yak-white;
    margin-top: 0px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8)
  }
  h2 {
    color: $yak-white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8)
  }
}

// .title {
//   margin-top: 90px;
// }

// svg {
//   width: 100%;
// }
