// Specific CSS for your home-page

.home-banner {
  position: relative;

  .navbar-wagon {
    background:rgba(0,0,0,0);
    position: relative;
    z-index: 1;
  }

  .inner-content {
    padding: 30px;
    margin-top: 80px;
    color: black;
  }

  h1 {
    font-size: 50px;
    color: $yak-white;
    margin-top: 0px;
  }

  img {
    margin-top: 16px;
  }
}

.inner-content {
    position: relative;
    top: 0px;
    z-index: 1;
}

.starfield {
  position: absolute;
  top: 0px;

  #starfieldCanvas {
    background: $yak-blue;
  }
}

svg {
  width: 100%;
  position: relative;
  bottom: 0px;
  z-index: 1;
  margin: 0px;
}

.detail-block {
  margin-top: 100px;

  p {
    margin-top: 50px;
    margin-bottom: 0px;
  }
}

.detail-image {

  img {
    width: 300px;
    }
}
