.video-asset {
  position: relative;
}

#RemoteParticpant {
  video {
  height: 700px;
  }
}

#VideoPreview {
  position: absolute;
  bottom: 20px;
  right: 20px;

  video {
  height: 100px !important;
  }
}

