<div class="footer">
  <div class="footer-links">
    <!-- <a href="#"><i class="fa fa-github"></i></a> -->
    <a href="#">
      <%= image_tag 'slack.svg' %>
    </a>
    <a href="#">
      <%= image_tag 'facebook.svg' %>
    </a>
    <a href="#">
      <%= image_tag 'instagram.svg' %>
    </a>
  </div>
  <div class="footer-copyright">
    <h3>Made with ❤️ by Yak Attack</h3>
  </div>
</div>
