<div class="home-wrapper text-center">
  <%= render 'shared/navbar' %>
  <div class="container">
    <div class="inner-content">
    <div class="title">
      <h1>Lets Yakitty-Yak</h1>
      <h2> Easy connection & collaboration with your network </h2>
    </div>

    <% unless current_user %>

    <br>

    <%= link_to user_slack_omniauth_authorize_path do %>
    <img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
    <% end %>
    <a href="https://slack.com/oauth/authorize?scope=incoming-webhook&client_id=278333923347.278335215347"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
    <%#= link_to 'Add Yakitty-Yak to Slack', "https://slack.com/oauth/authorize?scope=identity.basic,identity.avatar&client_id=278333923347.278335215347", class: "btn btn-primary" %>
    <%# if current_user %>
    <%#= link_to 'Edit your Profile!', edit_user_path(current_user), class: "btn btn-info" %>
    <%# end %>
    <% end %>
    </div>
  </div>
</div>

<!-- <svg width="500" height="100" viewBox="0 0 500 80" preserveAspectRatio="none">
  <path d="M0,0 L0,40 Q250,80 500,40 L500,0 Z" fill="#1A535C" />

</svg>
 -->
