.negative-button {
  height: 50px;
  background-color: $yak-white;
  border-radius: 10px;
  font-family: Raleway;
  font-weight: 700;
  color: $yak-light-green;
  border: none;
  margin-left: 15px;
  padding: 0px 15px;
}
